body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    margin: 20px;
}

#filtros {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input, select {
    margin-right: 20px;
}

#btn-pesquisar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#btn-pesquisar:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

.hidden {
    display: none;
}

#soma-total {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-button {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    position: absolute;
    left: 10px;
}

.back-button:hover {
    
    background-color: #e0e0e0;
    color: #000;
}

/* Estilos para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10vh auto; /* 10% da altura da tela para cima e para baixo */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os campos */
    overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
    max-height: 70vh; /* 70% da altura da tela */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Mostrar a modal quando ela não estiver oculta */
.modal:not(.hidden) {
    display: block;
}

/* Garantir que os campos do formulário fiquem um embaixo do outro */
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os campos do formulário */
}

.modal-content form label {
    margin-bottom: 5px;
}

.modal-content form input, 
.modal-content form select, 
.modal-content form button {
    padding: 10px;
    font-size: 16px;
}

.modal-content form button {
    margin-top: 10px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.modal-content form button:hover {
    background-color: #45a049;
}

